body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #f9fafc;
}

/* Resets */

body {
  margin: 0px;
}

.gray-link {
  padding: 10px;
  color: #69696a;
  text-decoration: none;
}

.header,
.footer {
  color: #000;
  padding: 10px;
}

.main-header {
  margin: 14px;
}
.vertical-menu a {
  display: block;
}

.buttons {
  color: #fff;
  background-color: #000;
  border-radius: 20px;
  height: 40px;
  width: 100vw;
  margin: 10px;
}

.border {
  border-left: 3px solid;
  margin: 16px;
}

.lorem {
  padding-left: 14px;
  margin: 2px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(247, 193, 162, 0.7);
}

.bottom {
  text-align: right;
  float: right;
}

.footer-links {
  padding: 10px;
  display: inline;
}
